<%= turbo_frame_tag "accounts-list"   do %>
  <div class="container-fluid scaffold-list">
    <h4>ACCOUNTS</h4>

    <%= render partial: "admin/accounts/new_button", locals: {}%><br />

    
    <div class="row scaffold-heading-row">
      <div class='col-md-1'>Name</div>
<div class='col-md-1'>Is admin</div>
      

      

      <div class=' scaffold-col-heading scaffold-col-heading-buttons col-md-2' >

      </div>
    </div>
      <% if accounts.empty? %>
    <div>
        None
    </div>
      <% end %>
      <% accounts.each do |account| %>
        <%= render partial: 'admin/accounts/line', locals: {account: account } %>
      <% end %>
    <% if accounts.respond_to?(:total_pages) %><%= paginate(accounts) %> <% end %>
  
  </div>
<% end %>
